@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');



$main-black-color:#1c1c1c;
$main-dark-color:#333333;
$main-gray-color:#696969;
$main-light-color:#a8a8a8;
$main-white-color:#ffffff;
$main-green-color: #37884e;

@mixin btns {
            display: block;
            width: 80%;
            margin: auto;
            padding: 1.3em;
            text-align: center;
            letter-spacing: 5px;
            color: $main-black-color;
            font-weight: bolder;
            border-radius: 22px;
}

*{
	margin:0;
	padding:0;
	list-style-type: none;
    box-sizing:border-box;
    text-decoration: none;
}


//global//------------------------------------
.search{
    font-family: 'FontAwesome';
}
body{
    font-family: 'Questrial', sans-serif;

}
.app{
    position: relative;
    

}
.active{
    display: block !important;
}
.layer{
    display: none;
    min-height: 100vh;
}
h1{
    font-size:1.5em;
    .icons{
        padding-left: 0.5em;
    }
}
//background-shape for profile---------
@mixin backshape {
    background-image: linear-gradient(130deg,transparent 25em, white 25em),
                linear-gradient(-160deg,black 16em, white 16em);
}

//product thumbnail groball--------------------
.browse-container{
    // border: 1px red solid;
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    margin-bottom: 5em;
    .product{
        
        width: 50%;
        box-sizing: border-box;
        padding: 0.5em;
        h2{
            font-size: 1em;
        }
        p{
            color: $main-gray-color;
            line-height: 20px;
            .price{
                color: $main-green-color;
                font-weight: bolder;
            }
        }
        .product-img{
           width: 100%;
           border-radius: 3px 3px 3px 30px;
        }
    }
}

//footer ---------------------------
.main-footer{
    position: fixed;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.04);
    bottom: 0;
    display: flex;
    height: 4.5em;
    
    width:100%;
    .nav-on{
        background: $main-black-color !important;
        i{
            color: $main-white-color;
        }
    }
    .nav{
        
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        
        background: $main-white-color;
        i{
            display: flex;
            align-items: center;
            text-align: center;
            position:relative;
            top: calc(50% - 10px);
            justify-content: center;
        }
    }
}
//main-header for most of the pages -----------------!!
.main-header{
    position: fixed;
    top: 0;
    background: $main-white-color;
    padding: 0.5em;

    .headerlogo{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 30%;    
    }
    .headerback{
        font-size: 1.5em;
        top: 0.5em;
       left: 0.5em;
        position: absolute;
        color:$main-black-color;
    }
    
}
//home page -------------------------------
.home{
    background:linear-gradient(160deg, $main-white-color, $main-white-color 50%, $main-black-color 50%, $main-black-color);
    p{
        text-align: center;
        color: $main-white-color;
        padding: 2em;
        line-height: 1.5em;
    }
    .header{
        .logoimg{
            margin-left: auto;
            margin-right: auto;
            padding-top: 2em;
            display: block;
    
            width: 35%;
            
            
        }
    }
    
    .mainimg{
        margin: auto;
        display: block;
        width:90%;
        
    }
    .bottons{
        .signup-btn{
            @include btns;
            background: $main-white-color;
        }
        .login-btn{
            @include btns;
            margin-top: 1em;
            background: $main-white-color;
        }
    }
}

//loginpage ----------------------------------
.login{
    background:linear-gradient(160deg, $main-black-color, $main-black-color 50%, $main-white-color 50%, $main-white-color);
    .header{
        .logoimg{
            margin-left: auto;
            margin-right: auto;
            padding-top: 2em;
            display: block;
            width: 35%;    
        }
        .backicon{
            font-size: 1.8em;
           top: 1em;
           left: 0.5em;
            position: absolute;
            color:$main-white-color;
        }
        
    }
    .loginimg{
        margin: auto;
        display: block;
        width:85%;
        
        margin-top: 4em;
    }
    .signin-container{
    margin: 3em;
    h1{
        font-size:1.5em;
        .icons{
            padding-left: 0.5em;
        }
    }
    form{
        input{
            border: none;
            color: $main-light-color;
            border-bottom: thin $main-light-color solid;
            background: transparent;
            padding: 2.5em 1em 1em 0em;
            font-size: 1em;
            width: 100%;
            &:focus{
                outline: none !important;
            }
        }
        button{
            @include btns;
            color: $main-white-color;
            font-size: 1em;
            width: 100%;
            margin-top: 3em;
            background: $main-black-color;
            border: none;
            font-weight: 300;
            &:focus{
                outline: none !important;
            }
        }
    }
    }
}


//signpage ----------------------------------
.signup{
    background: $main-white-color;
    .header{
        .logoimg{
            margin-left: auto;
            margin-right: auto;
            padding-top: 2em;
            display: block;
            width: 35%;    
        }
        .backicon{
            font-size: 1.8em;
           top: 1em;
           left: 0.5em;
            position: absolute;
            color:$main-black-color;
        }
        
    }
    .signin-container{
        margin: 3em;
        h1{
            margin-top: 3em;
            font-size:1.5em;
            
            .icons{
                padding-left: 0.5em;
            }
        }
        
        form{
            margin-top: 1em;
            input{
                border: none;
                color: $main-light-color;
                border-bottom: thin $main-light-color solid;
                background: transparent;
                padding: 2.5em 1em 1em 0em;
                font-size: 1em;
                width: 100%;
                &:focus{
                    outline: none !important;
                }
            }
            button{
                @include btns;
                color: $main-white-color;
                font-size: 1em;
                width: 75%;
                position: absolute;
                bottom:4em;
                background: $main-black-color;
                border: none;
                font-weight: 300;
                
                &:focus{
                    outline: none !important;
                }
            }
        }
    }
   
}
//browse page-------------------------------------
.browse{
    .browse-header{
        display: flex;
        margin: 1.5em;
        justify-content: space-between;
        
        .search{
            background-color: $main-white-color;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            border-radius: 30px;
            input{
                border: none;
            }
            button{
                border: none;
                background: transparent;
                margin:0.5em;
            }
        }
        .logoimg{
           
            display: block;
            width: 30%;    
        }
    }
  
  
    .category{
        .category-box{
            text-align:center;
            p{
                margin-top: 1em;
                font-size: 0.8em;
            }
        }
        .on{
            p{
                color: $main-green-color !important;
            }
        }
        display: flex;
        margin: 1em;
        justify-content: space-around;
        .category-icon{

            // border: 1px red solid;
            border-radius: 100%;
            background: $main-white-color;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            display: block;
            // padding: 0.5em;
            flex: 0 0 4em;
            height: 4em;
            display: flex;
            align-items: center;
            justify-content: center;
            .iconimg{
                // border: 1px green solid;
                display: block;
                width:60%;
         
            
            }
        }
        
    }

    
}

//faveourite page--------------------------------------
.fav{
    .fav-container{

        margin-top: 4em;
        .fav-title{
            font-size: 1.5em;
            margin-left: 1em;

        }
        .browse-container{
            
            // border: 1px red solid;
            display: flex;
            margin: 1em;
            flex-wrap: wrap;
            
            .product{
 
                width: 50%;
                box-sizing: border-box;
                padding: 0.5em;
                position: relative;

                .fa-heart{
                    color: rgb(197, 1, 1);
                    position: absolute;
                    padding: 0.5em;
                  
                    right:0.5em;
                }

                h2{
                    font-size: 1.1em;
                    font-weight: bolder;
                }
                p{
                    color: $main-gray-color;
                    line-height: 20px;
                    .price{
                        color: $main-green-color;
                        font-weight: bolder;
                    }
                }
                .product-img{
                   
                   width: 100%;
                   border-radius: 3px 3px 3px 30px;
                }
            }
        }
    }
}
///profile------------------------
.profile{
    @include backshape;
    
                
    .main-header{
        background: black !important;
        color: white !important;
        
        i{
            color: $main-white-color;
        }
        .fa-cog{
            color: $main-white-color;
            font-size: 1.5em;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            
            
        }
    }
    .profilehead{
        padding-top: 3em;
        display: flex;
        margin: 1.5em;
        box-sizing: border-box;
        .profileimg{
            width: 40%;
            border-radius: 3px 3px 3px 30px;
        }
        .profiledp{
            margin-left: 1em;
            h3{
                color: white;
                margin-bottom: 0.5em;
                .profile-edit{
                    padding: 1em;
                    font-size: 0.9em;
                }
            }
            p{
                
                i{
                    margin-right: 0.5em;
                }
                color: $main-gray-color;
                line-height: 2em;
            }
        }
    }
    .bio{
        margin: 1.5em;
        p{
            line-height: 1.5em;
            margin-top: 1em;
            margin-bottom: 2em;
        }
    }
    
    .addproduct{
        display: flex;
        justify-content: space-between;
        margin: 1.5em;
        
        align-items: center;
        .addbtn{
            
            color: $main-gray-color;
            align-items: center;
            display: flex;
            
            i{
                color: $main-black-color;
                font-size: 1.5em;
                padding-left: 0.2em;
            }
        }
    }
    
   
}
//other users profile without---------------------------------
.others-profile{
    @include backshape;
    
                
    .main-header{
        background: black !important;
        color: white !important;
        
        i{
            color: $main-white-color;
        }
        .fa-cog{
            color: $main-white-color;
            font-size: 1.5em;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            
            
        }
    }
    .profilehead{
        padding-top: 3em;
        display: flex;
        margin: 1.5em;
        box-sizing: border-box;
        .profileimg{
            width: 40%;
            border-radius: 3px 3px 3px 30px;
        }
        .profiledp{
            margin-left: 1em;
            h3{
                color: white;
                margin-bottom: 0.5em;
                .profile-edit{
                    padding: 1em;
                    font-size: 0.9em;
                }
            }
            p{
                
                i{
                    margin-right: 0.5em;
                }
                color: $main-gray-color;
                line-height: 2em;
            }
        }
    }
    .bio{
        margin: 1.5em;
        p{
            line-height: 1.5em;
            margin-top: 1em;
            margin-bottom: 2em;
        }
    }
    
    .addproduct{
        display: flex;
        justify-content: space-between;
        margin: 1.5em;
        
        align-items: center;
        .addbtn{
            
            color: $main-gray-color;
            align-items: center;
            display: flex;
            
            i{
                color: $main-black-color;
                font-size: 1.5em;
                padding-left: 0.2em;
            }
        }
    }
    

}
///setting page----------------
.setting{
    overflow: hidden;
    .setting-list{

        margin: 3em;
        padding-top: 4em;
        ul{
            margin-top: 1em;
            

            li{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px $main-light-color solid;
                padding-top: 2em;
                padding-bottom: 1.5em;
                i{
                    font-size: 1.5em;
                    color: $main-gray-color;
                }
    
            }
        }
        
    }

}